body {
  margin: 0;
}

video{
  width: 100vw;
  min-width: 1280px;
  height: 100vh;
  min-height: 720px;
}

img, canvas {
  width: 1280px;
  height: 720px;
  display: none;
}

canvas {
  display: none;
}
